.form {
  width: 600px;
  padding: 24px;
  margin: 32px auto;
  border: 1px solid black;
  border-radius: 12px;
  text-align: left;
}
.form table td {
  padding: 10px;
  /* border: 1px solid red; */
}
.form h1 {
  text-align: center;
}
.form .tombol {
  border-radius: 16px;
  padding: 5px 10px;
}