table {
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
}
table th {
  background-color: rgb(182, 182, 182);
}
table td {
  background-color: orange;
  text-align: left;
}
body {
  font-family: 'Times New Roman', Times, serif;
}